@using Microsoft.AspNetCore.WebUtilities
@inject IWebHostEnvironment WebHostEnvironment
@inject ContentEngineOptions Options

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="@_baseHref"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="@GetVersioned("styles.css")">
    <script src="@GetVersioned("_content/MyLittleContentEngine.UI/scripts.js")" defer></script>

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    <HeadOutlet/>
    <PageTitle>Hey</PageTitle>
</head>

<body>
<div>
    <Routes/>
</div>
</body>
</html>

@code{
    string _baseHref = null!;

    static readonly string Version = DateTime.Now.Ticks.ToString();
    
    string GetVersioned(string url) => WebHostEnvironment.IsDevelopment()
        ? url 
        : QueryHelpers.AddQueryString(url, "v", Version);

    protected override void OnInitialized()
    {
        _baseHref = Options.BaseUrl;
    }

}
