@inherits LayoutComponentBase

<NavMenu/>

<main class="mx-auto max-w-6xl px-6 md:px-8 xl:px-0 mt-4">
    @Body
</main>

<footer class="mx-auto max-w-6xl px-6 md:px-8 xl:px-0 mb-4 lg:mb-64">
    <div class=" mt-16 lg:mt-24 p-6 lg:p-12 bg-primary-50 dark:bg-primary-900 border border-base-400 dark:border-primary-700/75 rounded rounded-lg shadow shadow-md">
        <div>
            <h3 class="text-2xl font-bold tracking-wide mb-2 text-neutral-700 dark:text-neutral-50/90">By Phil Scott</h3>
            <p class="text-neutral-700 dark:text-neutral-50/90">Phil was once a .NET developer
                and a current stay-at-home Dad. He is passionate about hockey, bourbon, cooking and being the last of
                the client/server developers. He is currently trying to learn to write video games to impress his toddlers.
            </p>
        </div>
    </div>
</footer>