@inherits LayoutComponentBase

        <NavMenu/>

        <main class="mx-auto max-w-5xl px-4 md:px-8 xl:px-0 mt-4 mb-4 md:mb-16">
            @Body
        </main>

        <footer>

        </footer>