@page "/blog/{*fileName:nonfile}"
@using BlazorStatic
@using BlazorStatic.Models
@using BlazorStatic.Services
@using Thirty25.Web.Components.Layout
@inject BlazorStaticOptions Options
@inject BlazorStaticMarkdownContentService<FrontMatter> BlazorStaticMarkdownContentService

@* Show specific post by filename param *@
@if (_post == null)
{
    <div>Post not found 🤷</div>
    return;
}
<PageTitle>@Options.BlogTitle - @_post.FrontMatter.Title</PageTitle>
<BlogPost Post="_post"/>

@code{
    [Parameter] public required string FileName { get; init; }
    Post<FrontMatter>? _post;

    protected override async Task OnInitializedAsync()
    {
        _post = await BlazorStaticMarkdownContentService.GetPostByUrlOrDefault(FileName);
    }
}
