@page "/"
@using MyLittleContentEngine
@using MyLittleContentEngine.Models
@using MyLittleContentEngine.Services.Content
@using Thirty25.Web.Components.Layout
@inject MarkdownContentService<BlogFrontMatter> MarkdownContentService
@inject ContentEngineOptions ContentEngineOptions

@if (_posts == null)
{
    <div>Posts not found 🤷</div>
    return;
}
<PageTitle>@ContentEngineOptions.SiteTitle - Recent Posts</PageTitle>

<div>
    <PageHeader Title="Welcome">
        <div class="prose lg:prose-lg dark:prose-invert">
            @Globals.HeroContent
        </div>
    </PageHeader>
    <h3 class="text-base-900 border-b border-primary-500/50 pb-4 dark:text-base-200 text-2xl lg:text-4xl font-bold">
        Recent Posts</h3>
    <BlogPostsList Posts="_posts"/>
</div>

@code{
    [Parameter] public string? FileName { get; set; }
    private List<MarkdownContentPage<BlogFrontMatter>>? _posts;


    protected override async Task OnInitializedAsync()
    {
        _posts = (await MarkdownContentService.GetAllContentPagesAsync()).OrderByDescending(i => i.FrontMatter.Date).ToList();
    }

}
