@page "/tags/{TagEncodedName}"
@using System.Collections.Immutable
@using BlazorStatic
@using BlazorStatic.Models
@using BlazorStatic.Services
@using Thirty25.Web.Components.Layout
@inject BlazorStaticMarkdownContentService<FrontMatter> BlogService
@inject BlazorStaticOptions BlazorStaticOptions

@if (_tag == null)
{
    <div>Unknown tag</div>
    return;
}

<PageTitle>@BlazorStaticOptions.BlogTitle - @(_tag.Name)</PageTitle>
<div>
    <PageHeader Title="@(_tag.Name)">
        Blog posts tagged by <span class="text-primary-800 dark:text-primary-300">@(_tag.Name)</span>
    </PageHeader>
    <BlogPostsList Posts="_posts"/>
</div>

@code {

    [Parameter] public required string TagEncodedName { get; set; }

    private BlazorStatic.Models.Tag? _tag;
    private ImmutableList<Post<FrontMatter>>? _posts;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(TagEncodedName)) return;
        var tagAndPosts = await BlogService.GetTagByEncodedNameOrDefault(TagEncodedName);
        if (tagAndPosts == null)
        {
            return;
        }

        (_tag, _posts) = tagAndPosts.Value;
    }
}