@page "/tags"
@using BlazorStatic
@using BlazorStatic.Models
@using BlazorStatic.Services
@using Thirty25.Web.Components.Layout
@inject BlazorStaticMarkdownContentService<FrontMatter> BlogService
@inject BlazorStaticOptions BlazorStaticOptions


<PageTitle>@BlazorStaticOptions.BlogTitle - Tags</PageTitle>
<PageHeader Title="All Tags"></PageHeader>

<div class="flex flex-wrap justify-between gap-1">
    @{
        var tagsWithCount = BlogService.GetAllPosts()
            .SelectMany(x => x.Tags)
            .GroupBy(x => x)
            .Select(group => new { Tag = group.Key, Count = group.Count() })
            .OrderByDescending(x => x.Count);

        foreach (var tagGroup in tagsWithCount)
        {
            <a class="text-primary-500 hover:text-primary-400 mr-3 text-sm font-medium uppercase"
               href="@tagGroup.Tag.NavigateUrl"> @tagGroup.Tag.Name (@tagGroup.Count) </a>
        }
    }
</div>


@code {

    protected override void OnInitialized()
    {
    }

}